.error-alert {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
     background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 4px;
}

.register {
    font-size: 16px;
    text-align: center;
}

.register a {
    text-decoration: none;
    transition: all 4s ease-in-out;
}

.register a:hover {
    text-decoration: underline;
}