.table tbody tr:hover {
    --bs-table-accent-bg: #eeeaf4;
}

.error-alert {
    display: none;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%);
    z-index: 20;
}